name: publish_components.yml

on:
  workflow_dispatch: {}
  workflow_call: {}
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:

  publish-img:
    uses: IngSisG10/snippet-infrastructure/.github/workflows/publish_docker_img_to_ghcr.yml@main
    secrets: inherit